@{
  Layout = "_Layout";
}

<div class="card">
  <div class="card-header">
    Featured Applications
  </div>
  <div class="card-body">
    <h5 class="card-title">Word Counter Application</h5>
    <p class="card-text">A web application that checks how frequently a word appears in a given sentence. </p>
    <a href="/wordcounter" class="btn btn-info">Go to Word Counter</a>
  </div>
</div>